@model FinanceControl.Core.Application.DTOs.CategoriaTransacao.CategoriaTransacaoUpdateDto;

@{
    ViewData["Title"] = "Alterar - Categoria de transação";
}

<div class="mt-5 row justify-content-center">
    <div class="card bg-dark text-white shadow col-md-6">
        <div class="card-body">
            <h4 class="card-title mb-4">Alterar</h4>

            <form asp-action="Edit" method="post">
                <input type="hidden" asp-for="Id" />

                <div class="mb-3">
                    <label asp-for="Nome" class="form-label"></label>
                    <input asp-for="Nome" class="form-control" />
                    <span asp-validation-for="Nome" class="text-danger small"></span>
                </div>

                <div class="d-flex justify-content-end">
                    @if (TempData["Erro"] != null)
                    {
                        <div class="alert alert-danger py-2 px-3 small">@TempData["Erro"]</div>
                    }
                    <button type="submit" class="btn btn-primary">Salvar</button>
                </div>
            </form>
        </div>
    </div>
</div>
