@{
    ViewBag.Title = "Configurações";
}

<div class="row g-4">
    <div class="col-md-4">
        <a href="/CategoriaTransacao" class="text-decoration-none">
            <div class="card card-dark p-4 shadow-lg h-100">
                <i class="bi bi-cash-coin fs-3 text-primary mb-2"></i>
                <h5 class="text-white">Categoria de Transação</h5>
                <p class="text-secondary small">Gerencie as categorias de transação</p>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Banco" class="text-decoration-none">
            <div class="card card-dark p-4 shadow-lg h-100">
                <i class="bi bi-cash-coin fs-3 text-primary mb-2"></i>
                <h5 class="text-white">Banco</h5>
                <p class="text-secondary small">Gerencie seus bancos</p>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/ContaBancaria" class="text-decoration-none">
            <div class="card card-dark p-4 shadow-lg h-100">
                <i class="bi bi-cash-coin fs-3 text-primary mb-2"></i>
                <h5 class="text-white">Contas bancárias</h5>
                <p class="text-secondary small">Gerencie suas contas</p>
            </div>
        </a>
    </div>

    <div class="col-md-4">
        <a href="/Cartao" class="text-decoration-none">
            <div class="card card-dark p-4 shadow-lg h-100">
                <i class="bi bi-cash-coin fs-3 text-primary mb-2"></i>
                <h5 class="text-white">Cartões</h5>
                <p class="text-secondary small">Gerencie seus cartões</p>
            </div>
        </a>
    </div>

</div>
